@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: #1e293b;
}


/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e0e7ff; /* light indigo */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c7d2fe; /* slightly darker indigo */
}